# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/apps/acf-options-page/src/index.html
/apps/acf-options-page/src/theme/_doc.css
CHANGELOG.md
**/CHANGELOG.md
codecov.yml
/.nx/workspace-data
**/dist/**