/* The following line can be included in a src/App.scss */
@import 'libs/ui/src/styles/index';

.ais-SearchBox {
  margin-bottom: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-list .ais-Hits-item {
  margin-left: 0;
  width: 100%;
}

.ais-Hits-item img {
  margin-right: 1em;
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

.Search {
  display: grid;
  gap: 0.5rem;
}

.Search-header {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr auto auto auto;
  gap: 0.5rem;
}

.CurrentRefinements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

.Hit-label {
  flex: 1;
  margin-right: 1rem;
}

.Hit-price {
  color: lightslategray;
}

.Pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 auto;
}
.ais-Hits-item {
  padding: 0;
  cursor: pointer;
}
