.sidebar {
  .list-group-item {
    min-height: 50px;
    button {
      display: none;
    }
    &:hover {
      button {
        display: block;
      }
    }
    &.selected {
      background-color: var(--bs-primary-bg-subtle);
    }
  }
  .list-group {
    overflow-y: auto;
    height: calc(100vh - 122px);
  }
}
