name: feature [push]

on:
  pull_request:

jobs:
  main:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: nrwl/nx-set-shas@v4
      - run: npm ci
      - run: npx nx report
      - run: npx nx format:check --verbose
      - run: npx nx affected --target=lint --parallel=3 --verbose
      - run: npx nx affected --target=test --parallel=3 --exclude='tag:puppeteer' --verbose
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: 'coverage'
